@import "tailwindcss";

@utility container {
  margin: 0 auto;
}

@theme {
  --color-primaryColor: #;
  --color-secondaryColor: #;
  --color-textColor: #;

  --font-headerFont: "Righteous", sans-serif;
  --font-regularFont: "Caudex", serif;
  --font-tagFont: ;
}




@font-face {
  font-family: 'Spacema';
  src: url('../src/assets/fonts/Spacema-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}




a {
  display: inline-block;
}

body {
  background-color: wheat;
}

.nav-custom-shadow {
  box-shadow: rgb(0, 0, 0) 0px 2px 4px, rgba(0, 0, 0, 0.666) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.nav-li-css {
  position: relative;
  z-index: 20;
}

.nav-li-css::after {
  position: absolute;
  content: "";
  width: 0;
  height: 8%;
  top: 100%;
  left: 0;
  background-color: #ffff;
  transition: all linear 0.15s;
  z-index: -10;
}

.nav-li-css:hover::after {
  width: 100%;
}

.banner-back {
  background: url("../public/back-main.png") no-repeat fixed center / cover;
  border-radius: 20px;
  height: 100dvh;
}





