@import "tailwindcss";

@utility container{
   margin: 0 auto;
}

@theme{
  --color-primaryColor: # ;
  --color-secondaryColor: # ;
  --color-textColor: # ;

  --font-headerFont: "Righteous", sans-serif;
  --font-regularFont: "Caudex", serif;
}

a{
  display: inline-block;
}